.wbdv-sticky-top {
  position: fixed;
  width: 100%;
  height: 50px;
  white-space: nowrap;
  background-color: #3B5998;
  z-index: 1;
}

.wbdv-padding-5px {
  padding: 5px;
}

.wbdv-padding-left-20percent {
  padding-left: 20%;
}

.wbdv-sticky-top-content {
  color: white;
  vertical-align: -webkit-baseline-middle;
}

.wbdv-course-list-title-row {
  position: fixed;
  background-color: #ebeced;
  width: 100%;
  box-shadow: 2px 2px 3px #999;
  z-index: 2;
}

.wbdv-course-searchbar {
  background-color: white;
  border: none;
}

@media screen and (max-width: 1000px) {
  .wbdv-hide-on-minimize {
    display: none;
  }
}

.wbdv-home-list-tile {
  border: none !important;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #3B5998;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.wbdv-add-icon-float {
  margin-top: 22px;
}

.wbdv-course-content {
  background-color: #ebeced;
  padding-top: 50px;
}

.wbdv-content {
  overflow-x: hidden;
  background-color: #ebeced;
}

.list-group-item-dark{
  background-color: #ebeced;
}